Repository konflux-ci/buildah-container: changes, and which Tekton pipelines are due for each by the changed paths.
All: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request, buildah-task-on-push

Path conditions:
  buildah-on-pull-request: (((((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-pull-request.yaml)) or (any of: .tekton/buildah-push.yaml)) or (any of: buildah)) or (any of: image_build)) or (any of: Containerfile.image_build)
  buildah-task-image-on-push: (((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-task-image-pull-request.yaml)) or (any of: .tekton/buildah-task-image-push.yaml)) or (any of: Containerfile.task-image)
  buildah-task-on-pull-request: (((((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-task-pull-request.yaml)) or (any of: .tekton/buildah-task-push.yaml)) or (any of: dockerfile-json)) or (any of: Containerfile.task)) or (any of: scripts/**)
  buildah-task-on-push: ((any of: dockerfile-json) or (any of: Containerfile.task)) or (any of: scripts/**)

chore(deps): update konflux references
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

Migrate buildah images to UBI10 base image
  Containerfile.buildah
  Containerfile.image_build
Due: buildah-on-pull-request

Migrate buildah images to UBI10 base image (#160)
  Containerfile.buildah
  Containerfile.image_build
Due: buildah-on-pull-request

Add kubectl as a git submodule
  .gitmodules
Due: none

Migrate buildah task image to UBI10
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Build kubectl from source in buildah-task image
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Migrate buildah task image to UBI10 (#163)
  .gitmodules
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

set default policy for containers
  Containerfile.image_build
Due: buildah-on-pull-request

set default policy for containers (#177)
  Containerfile.image_build
Due: buildah-on-pull-request

Update buildah image reference in buildah-task Containerfile
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Update buildah image reference in buildah-task Containerfile (#179)
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Update UBI base image
  Containerfile.image_build
  Containerfile.task
Due: buildah-on-pull-request, buildah-task-on-pull-request, buildah-task-on-push

Update UBI base image (#180)
  Containerfile.image_build
  Containerfile.task
Due: buildah-on-pull-request, buildah-task-on-pull-request, buildah-task-on-push

Point dockerfile-json Git submodule to dev branch
  .gitmodules
Due: none

Build dockerfile-json with dfrunsecurity tag
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Point dockerfile-json Git submodule to dev branch (#183)
  .gitmodules
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Format on-cel expressions
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-on-pull-request, buildah-task-on-pull-request

Fix on-cel expressions
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-on-pull-request, buildah-task-on-pull-request

Fix CEL expressions (#185)
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-on-pull-request, buildah-task-on-pull-request

Install openssl-libs explicitly
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Install openssl-libs explicitly (#189)
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Stop building the base buildah image
  .gitmodules
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  Containerfile.buildah
  Containerfile.image_build
Due: buildah-on-pull-request

Use task-runner as the base image for buildah-task
  .gitmodules
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
  Containerfile.task
Due: buildah-task-on-pull-request, buildah-task-on-push

Drop base buildah (#196)
  .gitmodules
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
  Containerfile.buildah
  Containerfile.image_build
  Containerfile.task
Due: buildah-on-pull-request, buildah-task-on-pull-request, buildah-task-on-push

Update README.md
  README.md
Due: none

Update README.md (#197)
  README.md
Due: none

Add deprecation notice
  README.md
Due: none

Add deprecation notice (#207)
  README.md
Due: none
