Repository konflux-ci/buildah-container: changes, and which Tekton pipelines are due for each by the changed paths.
All: buildah-on-pull-request, buildah-task-image-on-push

buildah-on-pull-request:
  params:
  - name: dockerfile
    value: Containerfile.image_build
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtap-build-tenant/buildah-container/buildah:on-pr-{{revision}}
  - name: path-context
    value: .
  ...

buildah-task-image-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhtap-build-tenant/buildah-container/buildah-task-image:{{revision}}
  - name: dockerfile
    value: Containerfile.task-image
  - name: enable-amd64-build
  ...

Update buildah-task-image-pull-request.yaml
  .tekton/buildah-task-image-pull-request.yaml
Due: buildah-task-image-on-push

Update buildah-task-image-push.yaml
  .tekton/buildah-task-image-push.yaml
Due: buildah-task-image-on-push

Red Hat Konflux purge buildah-task-image Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/buildah-task-image-pull-request.yaml
  .tekton/buildah-task-image-push.yaml
Due: buildah-task-image-on-push

Red Hat Konflux update buildah-task Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: none

Update buildah-task-pull-request.yaml
  .tekton/buildah-task-pull-request.yaml
Due: none

Update buildah-task-push.yaml
  .tekton/buildah-task-push.yaml
Due: none

Update the task image for use on remote and local builds
  Containerfile.task
  Containerfile.task-image
Due: buildah-task-image-on-push

bump image expiration for testing
  .tekton/buildah-pull-request.yaml
Due: buildah-on-pull-request

Update buildah to 7d7658b
  Containerfile.task-image
Due: buildah-task-image-on-push

Update buildah to 7cb5a35
  Containerfile.task
Due: none

Add podman to the image
  Containerfile.task
Due: none

document the process for manually releasing snapshots
  README.md
Due: none

Update buildah to da0061b
  Containerfile.task
Due: none

Add dockerfile-json and jq
  .gitmodules
  Containerfile.task
Due: none

Add renovate.json
  renovate.json
Due: none

Update buildah to a0b40e9
  Containerfile.task
Due: none

Remove sbom-json-check task from build pipeline
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push

Remove sbom-json-check task from build pipeline (#73)
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push

remove extra charaters in package name match
  renovate.json
Due: none

Update all images to Fedora:40
  Containerfile.image_build
  Containerfile.task
Due: none

Update buildah to b3117a3
  Containerfile.task
Due: none

Update renovate config for ignoring fedora images
  renovate.json
Due: none

install 'route' rpm
  Containerfile.task
Due: none

Update buildah to 10d3a9e
  Containerfile.task
Due: none

install iproute instead of route
  Containerfile.task
Due: none

Update buildah to aeaf4c4
  Containerfile.task
Due: none

add subscription manager
  Containerfile.task
Due: none

replace dockerfile-json fork with upstream
  .gitmodules
Due: none

trigger pipelines for changes in dockerfile-json
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
Due: buildah-on-pull-request

Revert "replace dockerfile-json fork with upstream"
  .gitmodules
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
Due: buildah-on-pull-request

trigger buildah-task pipelines on dockerfile-json
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-on-pull-request

add rpms-signature-scan task
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push

Update buildah to 0229794
  Containerfile.task
Due: none

Update common build pipeline
  .tekton/build-pipeline.yaml
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push

Update containerfiles
  Containerfile.buildah
  Containerfile.task
Due: buildah-on-pull-request

disable s390x builds for PRs
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-task-pull-request.yaml
Due: buildah-on-pull-request

Update the proper buildah Containerfile
  Containerfile.buildah
  Containerfile.image_build
Due: buildah-on-pull-request

Path conditions:
  buildah-on-pull-request: (((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-pull-request.yaml)) or (any of: .tekton/buildah-push.yaml)) or (any of: Containerfile.buildah)
  buildah-task-image-on-push: (((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-task-image-pull-request.yaml)) or (any of: .tekton/buildah-task-image-push.yaml)) or (any of: Containerfile.task-image)
