Repository konflux-ci/buildah-container: changes, and which Tekton pipelines are due for each by the changed paths.
All: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

Path conditions:
  buildah-on-pull-request: (((((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-pull-request.yaml)) or (any of: .tekton/buildah-push.yaml)) or (any of: buildah)) or (any of: image_build)) or (any of: Containerfile.image_build)
  buildah-task-image-on-push: (((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-task-image-pull-request.yaml)) or (any of: .tekton/buildah-task-image-push.yaml)) or (any of: Containerfile.task-image)
  buildah-task-on-pull-request: (((any of: .tekton/build-pipeline.yaml) or (any of: .tekton/buildah-task-pull-request.yaml)) or (any of: .tekton/buildah-task-push.yaml)) or (any of: Containerfile.task)

Update the proper buildah Containerfile
  Containerfile.buildah
  Containerfile.image_build
Due: buildah-on-pull-request

buildah run with overlay2 by default
  Containerfile.image_build
Due: buildah-on-pull-request

Update buildah base image
  Containerfile.task
Due: buildah-task-on-pull-request

update build pipeline
  .tekton/build-pipeline.yaml
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-task-pull-request.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

Copy image content manifest scripts to include in buildah task image
  .github/CODEOWNERS
  .github/workflows/inject-icm-test.yaml
  Containerfile.task
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-data/sbom-cachi2-cyclonedx.json
  scripts/icm-injection-scripts/test-data/sbom-cachi2-spdx.json
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: buildah-task-on-pull-request

Modify inject-icm.sh to operate on the Containerfile
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-data/Containerfile
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

add myself to CODEOWNERS
  CODEOWNERS
Due: none

Create Containerfile on the fly
  .github/workflows/inject-icm-test.yaml
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
  scripts/icm-injection-scripts/test-data/Containerfile
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: buildah-task-on-pull-request

Update dependencies
  .gitmodules
  Containerfile.image_build
  Containerfile.task
Due: buildah-on-pull-request, buildah-task-on-pull-request

Copy icm injection script in the proper layer
  Containerfile.task
Due: buildah-task-on-pull-request

Parameterize the icm injection script inputs and outputs
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

Parameterize the icm injection script inputs and outputs (#124)
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

Add comments to explain changes
  Containerfile.image_build
Due: buildah-on-pull-request

feat(KONFLUX-7125): Change buildah task to use overlay2 storage driver (#116)
  Containerfile.image_build
Due: buildah-on-pull-request

when adding copy line to containe file add new lines as well
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

when adding copy line to containe file add new lines as well (#130)
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

fix coverity parameters
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

feat: reduce unnecessary push builds
  .tekton/buildah-push.yaml
  .tekton/buildah-task-push.yaml
  README.md
Due: buildah-on-pull-request, buildah-task-on-pull-request

feat: reduce unnecessary push builds (#133)
  .tekton/buildah-push.yaml
  .tekton/buildah-task-push.yaml
  README.md
Due: buildah-on-pull-request, buildah-task-on-pull-request

Konflux build pipeline service account migration for buildah Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/buildah-pull-request.yaml
  .tekton/buildah-push.yaml
Due: buildah-on-pull-request

Konflux build pipeline service account migration for buildah-task Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/buildah-task-pull-request.yaml
  .tekton/buildah-task-push.yaml
Due: buildah-task-on-pull-request

chore(deps): update konflux references
  .tekton/build-pipeline.yaml
Due: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

add script with retrying function
  .tekton/build-pipeline.yaml
  Containerfile.task
  scripts/utils/retry-func.sh
Due: buildah-on-pull-request, buildah-task-image-on-push, buildah-task-on-pull-request

add script with retrying function
  Containerfile.task
  scripts/utils/retry-func.sh
Due: buildah-task-on-pull-request

add script with retrying function (#139)
  Containerfile.task
  scripts/utils/retry-func.sh
Due: buildah-task-on-pull-request

Preserve PR pipeline comment
  .tekton/buildah-task-pull-request.yaml
Due: buildah-task-on-pull-request

Preserve PR pipeline comment
  .tekton/buildah-pull-request.yaml
Due: buildah-on-pull-request

feat(STONEINTG-1232): add attach-migration-file cmd to buildah-task
  Containerfile.task
  scripts/utils/attach-migration-file.sh
Due: buildah-task-on-pull-request

buildah submodule: track releases, not main
  .gitmodules
Due: none

Use buildah v1.40.1 (#153)
  .gitmodules
Due: none

fix(icm): keep ICM on the old location too
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

fix(icm): keep ICM on the old location too (#157)
  scripts/icm-injection-scripts/inject-icm.sh
  scripts/icm-injection-scripts/test-inject-icm.sh
Due: none

Migrate buildah images to UBI10 base image
  Containerfile.buildah
  Containerfile.image_build
  Containerfile.task
Due: buildah-on-pull-request, buildah-task-on-pull-request
